.marquee {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-content-nav {
    width: 100%;
    white-space: nowrap;
    animation: scroll-left 15s linear infinite;
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .marquee:hover .marquee-content-nav {
    animation-play-state: paused;
  }
  